// Specific CSS for your home-page
html {
  scroll-behavior: smooth;
  h2 {
    font-size: 20px;
  }
}

#about {
  position: relative;
  background: white;
}

#portfolio {
  position: relative;
  background: white;
}

#skills {
  position: relative;
}

#contact {
  position: relative;
}

.block {
  display: block;
}

.scroll-up {
  position: absolute;
  right: 10%;
  top: 5vh;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  transform: translate(-50%, 0%) rotate(225deg);
}

.scroll-down {
  position: absolute;
  right: 10%;
  bottom: 5vh;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  transform: translate(-50%, 0%) rotate(45deg);
}

.section-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 16px;
  margin: 32px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 32px auto;
}

#about-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  margin-top: 32px;
  margin-bottom: 150px;
  align-items: center;
}

@media (max-width: 767px) {
  #about-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  #about-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 992px) {
  #about-container {
    grid-template-columns: 1fr 1fr;
  }
}


.about-text {
  text-align: justify;
  padding: 16px;
}

.profile_pic {
  background-image: url(profile_pic.jpeg);
  background-size: cover;
  background-position: center;
  margin: auto;
  width: 300px;
  height: 500px;
}
