<div class="bckg-image">
  <div class="banner">
    <div class="title">
      <h1>Leonardo Figueira</h1>
      <p><i class="fas fa-code"></i> <span id="banner-typed-text"></span>  <i class="fas fa-code"></i> </p>
    </div>
  </div>
  <div class="banner-footer">
    <%= link_to "#about" do %>
      <div class="card-banner">
        <i class="far fa-user"></i>
        <span>About</span>
      </div>
    <% end %>
    <%= link_to "#skills" do %>
      <div class="card-banner">
        <i class="fas fa-atom"></i>
        <span>Skills</span>
      </div>
    <% end %>
    <%= link_to "#portfolio" do %>
      <div class="card-banner">
        <i class="fas fa-code-branch"></i>
        <span>Portfolio</span>
      </div>
    <% end %>
    <%= link_to "#contact" do %>
      <div class="card-banner">
        <i class="far fa-id-card"></i>
        <span>Contact</span>
      </div>
    <% end %>
  </div>
</div>
<section id="about">
  <div class="container">
    <h1>Sample</h1>
    <a href="#banner">

        <span class="scroll-up"></span>

    </a>
  </div>
</section>
<section id="skills">
  <div class="container">
    <h1>Sample</h1>
    <a href="#banner">
      <span class="scroll-up"></span>
    </a>
  </div>
</section>
<section id="portfolio">
  <div class="container">
    <h1>Sample</h1>
    <a href="#banner">
      <span class="scroll-up"></span>
    </a>
  </div>
</section>
<section id="contact">
  <div class="container">
    <h1>Sample</h1>
    <a href="#banner">
      <span class="scroll-up"></span>
    </a>
  </div>
</section>
